
.planets_container {
 position: relative;
 display: grid;
 width: 100%;
 height: 100%;
 justify-items: center;
 background-image: linear-gradient(180deg, #efc9ea00 8%, #b1f1ef00 33%, #f7f2b900 54%, #e3efd000 84%, #fafbfdff 100%);
 align-items: center;
 grid-template-columns: repeat(10, 1fr);
 grid-template-rows: repeat(10, 1fr);
}

.planets_container::before {
  content: '';
  position: absolute;
  bottom: 93px;
  left: -15vw;
  width: 100%;
  background-color: transparent;
  transform: rotate(0deg);
}

.Mars {
 grid-row: 9 / 10;
 grid-column: 3;
 width: 18px;
 filter: drop-shadow(0 5px 5px red);
}

.Earth {
 grid-row: 7 / 8;
 grid-column: 2 / 3;
 border-radius: 50%;
 filter: drop-shadow(-1px 4px 3px rgb(112, 112, 221));
 width: 13px;
}

.venus_container {
  grid-row: 10;
  grid-column: 3 / 4;
  width: 32px;
  filter: drop-shadow(0 3px 3px brown);
}
.Saturn {
 grid-row: 8 / 10;
 grid-column: 2 / 3;
 width: 40px;
 filter: drop-shadow(0 3px 5px rgb(129, 52, 7));
}

.Neptune {
 grid-column: 2 / 8;
 grid-row: 8 / 11;
 width: 28px;
 filter: drop-shadow(1px 3px 4px rgb(37, 37, 196));
}

.Jupiter {
 grid-column: 5 / 6;
 grid-row: 10;
 width: 22px;
 filter: drop-shadow(0px 1px 5px rgb(114, 77, 119));
}
