.cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
/* CARDS*/
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1.15rem;
  max-width: 600px;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
}

.card {
  display: flex;
  max-width: 600px;
  justify-content: center;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
}

.card_image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_image > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 135%;
  height: 145%;
  border: 1px solid red;
  z-index: 9;
}

.card_bg {
  width: inherit;
}

.earth_card {
  position: relative;
  width: 100%;
  height: 100%;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: -1px;
}
h2 span {
  color:#f84443;
}

p {
  font-size: 1.2rem;
  line-height: 125%;
}

.anchors {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
}

a {
  text-decoration: none;
  padding: .4rem .8rem;
  border-radius: 25px;
  background-color: #f84443;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 550;
}

/* CARDS END*/



@media only screen  and (max-width: 769px) {
  .card_image {
    flex-direction: column-reverse;
  }
  .card_image > div {
    display: block;
    width: 100%;
    position: relative;
  }
}