.cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CARDS*/
.cards {
  padding: 0 1.15rem;
  max-width: 600px;
  box-sizing: border-box;
  height: 100%;
}

a {
  display: flex;
  text-decoration: none;
  padding: .35rem .7rem;
  border-radius: 21px;
  background-color: #f84443;
  color: #fff;
  font-size: 1.2rem;
  height: 30px;
  font-weight: 550;
  width: 125px;
  align-items: center;
  justify-content: center;
}

a:hover {
  animation: hover .4s ease forwards;
}

.meh {
  width: 620px;
  margin: 0 auto;
}

@keyframes hover {
  0% {
    background-color:#f84443;
  }
  100% {
    background-color: #a13333;
  }
}

/* CARDS END*/

@media only screen  and (min-width: 1280px) {
  .cards {
    max-width: max-content;
  }
}