.NextJS {
 grid-row: 1 / 2;
 grid-column: 1 / 2;
 width: 60px;
 margin: 10px;
}

.ReactSvg {
 background-color: #101010;
 padding: 3px;
 margin-bottom: 25px;
 grid-row: 1 / 2;
 grid-column: 6;
 margin: 5px;
}

.Js {
 grid-row: 4 / 5;
 width: 60px;
 grid-column: 1 / 2;
}

.GitHubActions {
 grid-row: 2 / 4;
 grid-column: 0;
 width: 80px;
 padding-right: 20px;
}

@media only screen and (max-width: 769px){
 .NextJS {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  margin: 0;
  margin-top: 2rem;
 }

 .ReactSvg {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
 }

 .GitHubActions {
  padding: 0;
 }
}